.banner {
    background-color: black;
    color: white;
    padding: 30px 50px 0 100px;
    height: 150px
}

.heading {
    font-weight: 500;
    font-size: 35px;
    float: left;
}

.banner-logout {
    float: right;
    margin-left: 50px
}

.banner-username {
    float: right;
    margin-top: 14px;
    font-size: 18px;
}

