.Music {
    display: flex;
    position: relative;
    color: white;
    font-size: 16px;
    z-index: 0;
    position: absolute;
    top: 150px;
    bottom: 0px;
    width: 100%;
}

.Content {
    width: calc(100% - 200px);
    max-height: calc(100% - 175px);
    overflow-y: scroll;
    padding: 20px;
    background: #262626;
    padding-top: 50px;
    text-transform: capitalize;
}

.Sidebar {
    width: 200px;
    height: 100%;
    padding-top: 50px;
    background: #181818;
}

.Playbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 175px;
    background: #181818;
    z-index: 99;
    padding: 20px;
}


//Sidebar
.sidebar-li {
    padding-left: 26px;
    text-transform: capitalize;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: bold;
}

.sidebar-li-active {
    border-left: 4px solid white;
    padding-left: 22px;
}

.sidebar-library {
    cursor: default;
    color: #999999;
    text-transform: uppercase;
    font-weight: normal;
}

//Content
.content-title {
    font-size: 35px;
    font-weight: bolder;
} 

.content-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 35px;
    font-size: initial;
}

.content-table thead {
    font-weight: bold;
}

.content-table tr:not(:last-of-type) {
    border-bottom: 1px solid #282828;
}

.content-table td {
    padding: 10px 0;
    vertical-align: middle;
}

.content-play-col {
    width: 50px;
    padding: 0px !important;
}

.content-play-button {
    height: 22px;
    width: 22px;
    margin-top: 4px;
}

//playbar
.playbar-title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.playbar-artist {
    text-align: center;
    color: #999999;
    font-size: 16px;
    margin-bottom: 6px;
}

.rhap_container {
    background-color: #181818;
}

.rhap_container svg {
    color: white;
}

.rhap_time {
    color: white;
}